
.page-forum .user-link:hover {
    scale: 1.09;
}

.pagination .page-item.active .page-link {
    background-color: lightgreen;
    border-color: white;
    color: black;
}

.pagination .page-link {
    color: black;
}
